:root {
  --color-fondo: #f4f4f4;
  --color-elementos: white;
  --color-texto: #012B66;
  --color-hover: #f0f0f0;
  --color-borde: #ddd;
  --color-encabezado-tabla: white;
}



* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--color-texto);
  transition: all 0.3s ease;
}

body {
  background-color: var(--color-fondo);
}

h1 {
  font-size: 30px;
}

h1,
h2 {
  text-align: left;
}

svg {
  fill: var(--color-texto);
  transition: none;
}

@media (max-width:800px) {

  * {
    font-size: small;
  }

  h1,
  h2 {
    font-size: small;
  }
}
